<div class="m-6 w-full">
    <button class="bg-gray-700 px-4 py-2 rounded-md hover:bg-gray-900 text-white mx-2" (click)="regenerateBoard()">Regenrate</button>
    <button class="bg-gray-700 px-4 py-2 rounded-md hover:bg-gray-900 text-white mx-2 w-24" (click)="gamePaused ? resumeGame() : pauseGame()">{{gamePaused ? 'Resume' : 'Pause'}}</button>
    <button class="bg-gray-700 px-4 py-2 rounded-md hover:bg-gray-900 text-white mx-2" (click)="restartGame()">Restart</button>
    <button class="bg-gray-700 px-4 py-2 rounded-md hover:bg-gray-900 text-white mx-2" (click)="eraseCell()">Erase</button>
</div>