<div 
  id="modal" 
  class="fixed inset-0 flex items-center justify-center z-50 text-center"
 [ngClass]="{
    'hidden': !sharedService.modalVisible
 }">
  <!-- Blurred Background -->
  <div class="absolute inset-0 bg-black bg-opacity-50 backdrop-blur-md"></div>
  
  <!-- Modal Content -->
  <div class="relative bg-gray-800 text-white rounded-lg shadow-lg w-96 p-6">
    <h2 class="text-xl font-bold mb-4">{{sharedService.modalTitle}}</h2>
    <p class="text-sm text-gray-300 mb-4">
      {{sharedService.modalContentScore}}
    </p>
    <p class="text-sm text-gray-300 mb-4">
      {{sharedService.modalContentTime}}
    </p>
    <button 
      class="px-4 py-2 bg-red-500 rounded-lg hover:bg-red-600 focus:outline-none"
      (click)="sharedService.startNewGame()"
    >
      New Game
    </button>
  </div>
</div>
