<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header class="text-center text-white bg-red-600 p-4 text-3xl">
  <h1>Sudoku Master</h1>
</header>
<main class="min-h-screen">
  <div class="flex justify-center gap-10">
    <div>
      <app-game-board></app-game-board>
    </div>
    <div>
      <div class="grid grid-cols-3">
        <app-timer></app-timer>
        <app-mistake-board></app-mistake-board>
        <app-score-card></app-score-card>
      </div>
      <app-keypad></app-keypad>
      <app-button-pallet></app-button-pallet>
    </div>
  </div>
</main>
<footer class="text-center text-white bg-red-600 p-2 w-full">
  <p>&copy; {{year}} Ashim Sharma. All rights reserved.</p>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />