<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header class="text-center text-white bg-red-600 p-4 text-3xl">
  <h1>Sudoku Master</h1>
</header>
<main>
  <div class="flex justify-center items-center gap-10 h-1/2">
    <div>
      <app-game-board></app-game-board>
    </div>
    <div>
      <app-timer></app-timer>
      <app-keypad></app-keypad>
      <app-button-pallet></app-button-pallet>
    </div>
  </div>
</main>
<footer class="text-center text-white bg-red-600 p-2 fixed bottom-0 w-full">
  <p>&copy; {{year}} Ashim Sharma. All rights reserved.</p>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />