<div class="relative grid grid-cols-9 grid-rows-9 lg:mx-auto lg:my-4 rounded-md w-full bg-blue-50">
    <app-popup class="absolute left-1/2 top-10 -translate-x-1/2 "></app-popup>
    <div *ngFor="let cell of sharedService.game; let i = index"
        class="border border-black text-center text-black lg:w-14 lg:h-14 w-auto h-auto text-2xl p-2 flex justify-center items-center"
        [id]="generateCellId(i)" [ngClass]="{
           'bg-gray-300': isRowSelected(i) || isColumnSelected(i) || isBlockSelected(i),
           '!bg-blue-200': (isRowSelected(i) && isColumnSelected(i) && isBlockSelected(i)),
           'bg-gray-400': hasSameValue(cell),
           'border-t-4': isTopEdge(i),
           'border-l-4': isLeftEdge(i),
           'border-b-4': isBottomEdge(i),
           'border-r-4': isRightEdge(i),
           'text-red-600': sharedService.isOnWrongPosition(i, cell),
           'text-green-600': isTyped(i) && !sharedService.isOnWrongPosition(i, cell),
           'text-black': sharedService.isBoardComplete(),
           'bg-blue-50': sharedService.isBoardComplete(),
           'bg-red-200': cell !== null && wrongCellReason(i) && sharedService.game[sharedService.selectedCell] === cell && sharedService.isOnWrongPosition(sharedService.selectedCell, sharedService.game[sharedService.selectedCell]) 
         }" (click)="selectCell(i)">
        {{ cell }}
    </div>
</div>